
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');

:root {
  --product-card-width: 500px;
  --product-card-height: fit-content;
  --modal-max-width: 20%;
  --modal-max-height: 10%;
  --image-container-height: 400px;
  --image-container-width: 400px;
  --card-border-radius: 40px;
  --color-main-dark: #0d0106;
  --color-main-light: #fbfbff;
  --color-accent-pop: #ff331f;
  --color-accent-dark: #3626a7;
  --color-accent-light: #657ed4;
  font-family: "Lexend Zetta", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  align-content: center;
    font-family: "Lexend Zetta", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .button-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    
    gap: 10px; /* Adjust the gap between buttons as needed */
    margin-bottom: 20px;
  }
  
  .file-input-container {
    position: relative;
  }
  
  .file-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .upload-image-button,
  .submit-upload {
    display: inline-block;
    padding: 10px;
    background-color: #3626a7;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    font-family: "Lexend Zetta", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;;
    
  }
  
  .upload-image-button:hover,
  .submit-upload:hover {
    background-color: var(--color-accent-pop);
  }



  .matching-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    color: var(--color-main-light);
   
    text-decoration: none;
    font-family: "Lexend Zetta", sans-serif;

    text-transform: uppercase;
    background-color: var(--color-accent-dark);
    margin-left: 50px;
    margin-right: 50px;
    border: solid 10px var(--color-accent-light);
    border-radius: 40px;
    padding: 50px;
  }

  .matching-list {
    text-decoration: none;
    list-style: none;
    margin-top: 50px;
    
  }

  .matching-list li,
ul li {
  
  margin-bottom: 20px; /* Adjust the margin between list items */
}
  
  .matching-list li a,
  ul li a {
    margin-bottom: 100px;
    padding: 20px
  }
  .matching-images a ,
  ul a {
    text-decoration: none;
    color: var(--color-main-light);
    margin: 20px;
    

  }


  .matching-images a:hover,
ul a:hover {
  color: var(--color-main-light);
  background-color: var(--color-accent-pop);
  border-radius: 20px;
  padding: 5px;
  margin-top: 20px;
}


.visually-similar {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--color-main-light);
 
  text-decoration: none;
  font-family: "Lexend Zetta", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  background-color: var(--color-accent-dark);
  margin-left: 50px;
  margin-right: 50px;
  border: solid 10px var(--color-accent-light);
  border-radius: 40px;
  padding: 50px;
  text-align: center;
}


.visually-similar {

  text-align: center; /* Center-align the content */
}

.visually-similar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.visually-similar li {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  text-align: center;
  margin-bottom: 20px;
}

.visually-similar img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.visually-similar a {
  text-decoration: none;
  color: var(--color-main-light);
  display: block; 
  margin-top: 10px; 

}

.visually-similar a:hover {
  color: var(--color-main-light);
  background-color: var(--color-accent-pop);
  border-radius: 20px;
  padding: 20px;
 
}

@media screen and (max-width: 600px){
  .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  align-content: center;
    font-family: "Lexend Zetta", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100vw;
    
  }
 
  .button-container {
    display: flex;
    flex-direction: column; 
    width: 100vw;
    gap: 10px; /* Adjust the gap between buttons as needed */
  }

  p {
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  /* .file-input{
    width: 100%;
  } */
  .upload-image-button{
    width: 100vw;
  }
  .submit-upload{
    width: 100vw;
  }

  .matching-images {
    width:100vw;
    margin: 0;
  }

  .matching-images > h2{
    width: 100vw;
    margin: 0;
    flex-direction:row;
    font-size: 15px;
    text-align: center;
  }
  .visually-similar{
    width: 100vw;
    margin: 0;
  }

  .visually-similar > ul  {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    text-align: center;
  }


 .matching-list > li > a {
   width:90vw;
   margin: 0;
   font-size: 10px;
   display: flex;
   justify-content: center;
   flex-wrap:wrap;
flex-direction: row;
   padding: 10px;
   overflow: hidden;
 }
}