@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');


:root{
  --product-card-width: 500px;
  --product-card-height: fit-content;
  --modal-max-width: 20%;
  --modal-max-height: 10%;
  --image-container-height: 400px;
  --image-container-width:400px;
  --card-border-radius: 40px;
  --color-main-dark: #0d0106;
  --color-main-light: #fbfbff;
  --color-accent-pop: #ff331f;
  --color-accent-dark: #3626a7;
  --color-accent-light: #657ed4;
  font-family: "Lexend Zetta", sans-serif;
  font-weight: 900;
  text-transform: uppercase;

}


.carousel-container {
  background-color: #657ed4;
  margin: 50px; 
  border: 10px solid var(--color-accent-dark);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.selected-products-section {
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the top */
}

.section-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  align-self: center;
}

/* Set a fixed height for the images within the carousel */
.carousel-container .slick-slide img {
  margin-top: 50px;
  height: 800px; /* Adjust the height as needed */
  object-fit: cover; /* Preserve aspect ratio while covering the entire container */
  border-radius: var(--card-border-radius); /* Apply border-radius to images */
}


@media screen and (max-width: 600px){
  .carousel-container {
    background-color: #657ed4;
    margin: 1px; 
    border: 10px solid var(--color-accent-dark);
    padding: 2px;
    box-sizing: border-box;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
  }

  .carousel-container .slick-slide img {
      margin-top: 17px;
      height: auto;
      object-fit: contain;
      width: 100%;
      object-position: left;
      border-radius: var(--card-border-radius);
  }
  .selected-products-section {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
  }
}